{% extends "./homepage.html" %}

{% block titulo %}
{{ review.review_title }}
{% endblock %}

{% block conteudo %}
<div class="review">
    <ul>
        <li>
            <div class="review-main-div">
                <img src="{{ review.photo }}" class="review-photo">
                <div class="title-genre">
                    <a href="{% url 'reviews:review' review.id %}"> {{ review.review_title }} </a>
                    <div class="genres-container">
                        {% for gender in review.gender_set.all %}
                        <a href="{% url 'reviews:search_gender' gender.id %}">{{ gender.gender_category }}
                            {% if not forloop.last %}, {% endif %}</a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <p class="overview-review"><strong>Overview: </strong>{{ review.overview }}</p>
                <p class="rating">Rating: {{ review.avg_rating }}</p><br>
            </div>
            <br>
        </li>
    </ul>
</div>

{% if request.user.is_authenticated %}

<form action="{% url 'reviews:review' review.id %}" method="post">
    {% csrf_token %}
    <div class="comment-input-container">
        <input type="number" name="rating" id="rating" style="display: none">
        <input type="text" name="comment_text" id="comment_text" placeholder="Comment...">
        <button type="submit">Comment</button>
        <div class="stars" data-review-id="1">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>
    </div>
</form>

{% endif %}

<div class="comments">
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <div class="between-comments">
            <li>
                <a href="{% url 'reviews:profile' comment.reviewer.id %}" class="user-profile-pic">
                    <img src="{{ comment.reviewer.photo }}" class="pic">
                    {{ comment.reviewer.user.username }}
                </a>
                <p class="user-comments-date">{{ comment.pub_data }}</p>
                <p>{{ comment.comment_text }}</p>
                {% for rating in comment.review.rating_set.all %}
                {% if rating.reviewer.id == comment.reviewer.id %}
                <p>Rating: {{ rating.rating_number }}</p>
                {% endif %}
                {% endfor %}
                {% if request.user.is_superuser or request.user.username == comment.reviewer.user.username %}
                <form action="{% url 'reviews:deletecomment' comment.id %}" method="get">
                    <button type="submit" class="delete-button-rvw">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
                {% endif %}
            </li>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não existem comentários.</p>
    {% endif %}
</div>

{% if error_message %}
<script>
    window.alert("{{ error_message }}");
</script>
{% endif %}
{% endblock %}