{% extends "./homepage.html" %}

{% block titulo %}
Terms of Service
{% endblock %}
{% block conteudo %}
<div class="mainHeader">
      <h1><strong>Terms of Service:</strong></h1>
</div>
<div class="foryou">
    <p>

        Welcome to FlixFeed! These terms of service govern your use of the FlixFeed website, provided by FlixFeed, Inc.
        By accessing or using the Website, you agree to comply with and be bound by these Terms. Please read them
        carefully before using the Website.
        <br><br>
        <strong>1.</strong> Acceptance of Terms:
        By accessing or using the Website, you affirm that you are at least 18 years old and are legally capable of
        entering into binding contracts. If you are using the Website on behalf of an organization, you represent and
        warrant that you have the necessary authority to bind that organization to these Terms.
        <br><br>
        <strong>2.</strong> Use of the Website:
        You agree to use the Website for lawful purposes and in accordance with these Terms. You may access and use the
        content on the Website solely for personal, non-commercial purposes. You may not modify, distribute, transmit,
        display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information,
        software, products, or services obtained from the Website.
        <br><br>
        <strong>3.</strong> User Accounts:
        To access certain features of the Website, you may need to create a user account. You are responsible for
        maintaining the confidentiality of your account credentials and are solely responsible for all activities that
        occur under your account. You agree to provide accurate, current, and complete information during the
        registration process and to update such information as necessary.
        <br><br>
        <strong>4.</strong> Third-Party Links and Services:
        The Website may include links to third-party websites or services that are not owned or controlled by FlixFeed.
        FlixFeed has no control over, and assumes no responsibility for, the content, privacy policies, or practices of
        any third-party websites or services. You acknowledge and agree that FlixFeed shall not be liable for any loss
        or damage arising from your use of any third-party websites or services.
        <br><br>

        <strong>5.</strong> Limitation of Liability:
        In no event shall FlixFeed or its directors, officers, employees, or agents be liable for any direct, indirect,
        incidental, special, consequential, or punitive damages arising out of or in connection with your use of the
        Website. This includes, but is not limited to, any loss of profits, data, or other intangible losses, even if
        FlixFeed has been advised of the possibility of such damages.
        <br><br>

        <strong>6.</strong> Modifications to Terms:
        FlixFeed reserves the right to modify or update these Terms at any time. Any changes will be effective
        immediately upon posting the updated Terms on the Website. Your continued use of the Website after any such
        changes constitutes your acceptance of the revised Terms.
        <br><br>
        <strong>7.</strong> Termination:
        FlixFeed reserves the right, in its sole discretion, to terminate, suspend, or modify your access to the
        Website, without prior notice, for any reason or no reason at all. Upon termination, all provisions of these
        Terms which by their nature should survive, including but not limited to ownership provisions, warranty
        disclaimers, indemnity, and limitations of liability, shall continue to apply.
        <br><br>
        <strong>8.</strong> Entire Agreement:
        These Terms constitute the entire agreement between you and FlixFeed regarding the use of the Website and
        supersede any prior or contemporaneous understandings or agreements, whether written or oral, regarding such
        subject matter.
        <br><br>
        <strong>9.</strong> Contact Us:
        If you have any questions or concerns about these Terms or the Website, please contact us at flixfeed@flixfeed.com.

        By using the FlixFeed website, you acknowledge that you have read, understood, and agree to be bound by these
        Terms of Service.
        <br><br>
    </p>
</div>
{% endblock %}
